# .env.sample

DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432 # 5432 for postgreSQL // 3306 for mySQL
SECRET_KEY=your_django_secret_key
DEBUG=True # Set to False in production
ALLOWED_HOSTS=* # e.g. yourdomain.com,www.yourdomain.com render will provide domain use that domain so that it can be accessed publicly by only those domains
DATABASE_URL=your_database_url_for_postgres_render # e.g. postgres://user:password@host:port/dbname